:root {
  --color-background: #131313;
  --color-foreground: color-mix(in srgb, var(--color-background) 90%, white 5%);
  --color-border: color-mix(in srgb, var(--color-background) 90%, white 25%);
  --color-text: azure;
  --color-text-unfocus: lightgray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  box-sizing: border-box;
  color: var(--color-text-unfocus);
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Adwaita Mono";
  src:
    url("../fonts/AdwaitaMono/AdwaitaMonoNerdFontMono-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "JetBrains Mono";
  src:
    url("../fonts/jetbrains-mono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content max-content auto max-content;
  column-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "menu-area menu-area"
    "lesson-title lesson-title"
    "lesson-instruction lesson-instruction"
    "lesson-toolbar lesson-toolbar"
    "editors-area editors-area"
    /* "editor-user-area editor-user-area" */
    "footer footer";
}


button {
  color: var(--color-text-unfocus);
  background-color: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
}

button:hover {
  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.1);
}

button:active {
  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.2);
}

button:disabled {
  opacity: 0.5;
  color: var(--color-text-unfocus);
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}

.description {
  font-style: italic;
}

.menu-area {
  grid-area: menu-area;
  display: flex;
  justify-content: space-between;
}

.lesson-title {
  grid-area: lesson-title;
  font-size: 2rem;
}

.user-info {
  grid-area: user-info;
  border: 1px solid var(--color-border);
  border-width: 0 0 1px 0;
}

.lesson-info {
  grid-area: lesson-info;
  border: 1px solid var(--color-border);
  border-width: 0 0 1px 0;
}

.lesson-instruction {
  grid-area: lesson-instruction;
  font-size: 1rem;
}

span.lesson-tip {
  display: flex;
  justify-content: right;
  font-size: 1rem;
  font-style: italic;
}

.editors-area {
  grid-area: editors-area;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.editors-area::-webkit-scrollbar {
  display: none;
}


.editor-user-area {
  grid-area: editor-user-area;
  display: flex;
  /* flex: 1; */
  flex: 0 0 100%;
  flex-direction: column;
  border: 1px solid var(--color-border);
}



.editor-lesson-area {
  grid-area: editor-lesson-area;
  display: flex;
  flex: 0 0 100%;
  /* flex: 1; */
  flex-direction: column;
  border: 1px solid var(--color-border);
  user-select: none;
  -webkit-user-select: none;
}




.footer {
  grid-area: footer;
  display: flex;
  /* justify-self: right; */
  justify-content: space-between;
  flex: 1;
}

#editor-user,
#editor-lesson {
  height: 100%;
  font-size: 18px;
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  font-family: "monospace";
}

#editor-lesson {
  --progress-width: 0%;
  --duration: 0s;

}

#editor-lesson::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

#editor-lesson::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  transition: width linear;
  background-color: cadetblue;
  width: var(--progress-width);
  transition: width var(--duration) linear;
  z-index: 4;
}

.show-input-lesson,
.show-input-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.input,
.input-user {
  font-family: "JetBrains Mono", monospace;
  font-family: "monospace";
  text-align: center;
  color: var(--color-text-unfocus);
  padding: 20px;
  border: solid 1px var(--color-border);
  border-radius: 15px;
  -webkit-user-select: none;
  user-select: none;
}

.input:hover,
.input-user:hover {
  outline: 2px solid var(--color-text-unfocus);
}

span.text {
  padding: 5px;
}

span.input,
span.input-user {
  height: max-content;
  min-width: calc(40px + 1lh);
}

span.highlight {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-text);
  outline: 2px solid rgba(255, 255, 255, 0.2);
}

span.highlight-user {
  background-color: rgba(0, 255, 42, 0.1);
  color: var(--color-text);
  outline: 2px solid rgba(0, 255, 42, 0.2);
}

.lesson-toolbar {
  grid-area: lesson-toolbar;
  display: flex;
  justify-content: space-between;
}

#options {
  anchor-name: --app-options;
}

app-options {
  position: absolute;
  position-anchor: --app-options;
  margin: 5px 0 0 0;
  position-area: end center;
  background-color: var(--color-background);
  border-color: var(--color-border);
  border-style: solid;
  width: min(fit-content, 800px);
  height: min(50%, fit-content);
  border-width: 1px;
  z-index: 10;
}

.options-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.options-container label,
.options-container span {
  white-space: nowrap;
}

.check-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}